* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Primary: #0E6FFF;
    --Secondary: #FFC928;
    --dark: #23242A;
    --pastel: #D1DCE5;
    --white: #FFFFFF;
    --shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    --heading: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --content: Arial, Helvetica, sans-serif ;
        
}

.main-container {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;


}

.logo>img {
    width: 120px;
    font-family: ;

}

ul {
    display: flex;
    margin-right: 30px;
    margin-top: 5px;
}

.nav-link {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    margin-top: 25px;
    padding-left: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.nav-button {
    list-style-type: none;
    margin: 20px;
    padding: 5px 15px;
    border: 1px solid var(--pastel);
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--pastel);
    color: var(--dark);
}

.slider-main {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.slider-head1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 35px;

}

.slider-head2 {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;

}

.slider-head3>button {
    font-family: "Times New Roman", Times, serif;
    background-color: red;
    color: var(--white);
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 7px;
}


.card-parent {
    display: flex;
    justify-content: center;

}

.card-child {
    width: 300px;
    background-color: var(--white);
    color: var(--dark);
    width: 300px;
    height: 250px;
    margin-right: 35px;
    margin-bottom: 35px;
    margin-top: -75px;
    padding: 25px 25px;
    box-shadow: var(--shadow);
    border-radius: 5px;


}

.card-heading {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-content {
    text-align: left;
    font-weight: normal;
    font-size: 16px;

}

.card-link {
    margin-top: 50px;
    font-size: 14px;
    color: var(--pastel);


}

.anchor-link {
    color: var(--Primary);
    text-decoration: none;
}

.anchor-link:hover {
    color: blue;
}
.container{
  display: flex;
  flex-direction: column;
  margin: 50px 150px;

}

.web-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}
.web-container{
    width: 50%;

    

}

.web-heading{
    font-family: var(--heading);
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 30px;   
}
.web-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.web-link{
    margin-top: 20px;
}
.web-anchor{
    color: var(--Primary);
}

.portion1{
    display: flex;
    flex-direction: column;
    margin: 50px 150px;
}

.portion1-child1{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
    
}
.port1-heading{
    font-size: 50px;
    margin-top: 10px;
    font-family: var(--heading);
}
.port1-content{
    width: 60%;
    font-size: 20px;
    font-family: var(--content);


}
.portion1-child2{
    display: flex;
    
}

.portion1-gchild1{
    max-width: 800px;
}
